# Ignorowanie plików środowiskowych
.env
.env.local
.env.*.local
backend-symfony/.env

# Ignorowanie plików zależności (dla Node.js i PHP)
node_modules/
vendor/

# Ignorowanie plików systemowych
.DS_Store
Thumbs.db
