<IfModule mod_rewrite.c>
    RewriteEngine On

    # Przekazanie Authorization header do PHP (ważne dla JWT)
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule ^ - [E=HTTP_AUTHORIZATION:%1]

    # Standardowe reguły Symfony
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
